= form_for(@trip) do |f|
  = f.label :name, "Name:"
  = f.text_field :name
  = f.fields_for :waypoints do |builder|
    %fieldset
      = builder.label :latitude, "Latitude:"
      %br
      = builder.text_field :latitude
      %br
      = builder.label :longitude, "Longitude:"
      %br
      = builder.text_field :longitude
  %br
  = f.submit
