<div>
  <%= nested_form_for @trip, remote: true do |f| %>
    <%= f.fields_for :waypoints do |waypoint_form| %>
      <%= waypoint_form.text_field :address, :class => "waypoints", :onchange => "addMarker();" %>
      <%= waypoint_form.link_to_remove "Remove this waypoint" %>
    <% end %>
    <p><%= f.link_to_add "Add a waypoint", :waypoints %></p>
    <%= f.submit :onclick=>"loadJSON()", :id => "button" %>
  <% end %>
</div>