<%= render 'map' %>
<div>
  <%= nested_form_for @trip do |f| %>
    <%= f.fields_for :waypoints do |waypoint_form| %>
      <%= waypoint_form.hidden_field :name, :value => "Start" %>
      <%= waypoint_form.text_field :address, :class => "waypoints", :onchange => "addMarker($(this).val());", :placeholder => "Start"%>
    <% end %>
    <%= f.fields_for :waypoints do |waypoint_form| %>
      <%= waypoint_form.hidden_field :name, :value => "End" %>
      <%= waypoint_form.text_field :address, :class => "waypoints", :onchange => "addMarker($(this).val());", :placeholder => "End" %>
    <% end %>
    <%= f.fields_for :waypoints do |waypoint_form| %>
      <%= waypoint_form.text_field :address, :class => "waypoints", :onchange => "addMarker($(this).val());" %>
        <%= waypoint_form.link_to_remove "-" %>
    <% end %>
    <%= f.link_to_add "+", :waypoints %>
    <br>
    <%= f.submit %>
  <% end %>
</div>
<script type="text/javascript">
  var tripId;
  var cache = new Object();
  var ajaxHash = new Object();
  function cleanData(funkyHash) {
    jQuery.each(funkyHash, function(localTripId, tripHash) {
      tripId = localTripId;
      jQuery.each(tripHash, function(routeId, routeHash) {
        jQuery.each(routeHash, function(subRouteId, subRouteHash) {
          subRouteHash["transitOptions"]["departureTime"] = new Date(Date.now());
          subRouteHash["travelMode"] = google.maps.TravelMode.DRIVING;
        });
      });
    });
    return funkyHash;
  }

  function cacheResponses(data, callback){
    jQuery.each(data, function(localTripId, tripHash){
      jQuery.each(tripHash, function(routeId, routeHash){
        cache[routeId] = new Object();
        jQuery.each(routeHash, function(subRouteId, subRouteHash){
          sendRequest(routeId, subRouteId, subRouteHash);
        });
      });
    });
    callback(postResponses);
  }

  function sendRequest(routeId, subRouteId, subRouteHash) {
    directionsService.route(subRouteHash, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        cache[routeId][subRouteId] = response;
      } 
      else if (status == "OVER_QUERY_LIMIT") {
        // tryAgain();
      }
      else {
        throw new Error(status);
      }
    });
  }

  function getAjaxHash(callback) {
    ajaxHash[tripId] = new Object(); 
    jQuery.each(cache, function(routeId, routeHash) {
      ajaxHash[tripId][routeId] = new Object();
      jQuery.each(routeHash, function(subRouteId, subRouteHash) {
        ajaxHash[tripId][routeId][subRouteId] = cache[routeId][subRouteId]["routes"][0]["legs"][0]["duration"]["text"];
      });
    });
    callback();
  }

  function postResponses() {
    $.post("/trips/ajax", ajaxHash, function(response, status){
          console.log(response);
    });
  }

  $(document).ready(function(){
    $("input[type=submit]").on("click", function(e){
      e.preventDefault();
      var data = $(".new_trip").serialize();
      $.post("/trips", data, function(response, status){
        cacheResponses(cleanData(response), getAjaxHash);
      });
    });
  });
</script>
