<%= render 'map' %>
<div>
  <%= nested_form_for @trip do |f| %>
    <%= f.fields_for :waypoints do |waypoint_form| %>
      <%= waypoint_form.hidden_field :name, :value => "Start" %>
      <%= waypoint_form.text_field :address, :class => "waypoints", :onchange => "addMarker($(this).val());", :placeholder => "Start"%>
    <% end %>
    <%= f.fields_for :waypoints do |waypoint_form| %>
      <%= waypoint_form.hidden_field :name, :value => "End" %>
      <%= waypoint_form.text_field :address, :class => "waypoints", :onchange => "addMarker($(this).val());", :placeholder => "End" %>
    <% end %>
    <%= f.fields_for :waypoints do |waypoint_form| %>
      <%= waypoint_form.text_field :address, :class => "waypoints", :onchange => "addMarker($(this).val());" %>
        <%= waypoint_form.link_to_remove "-" %>
    <% end %>
    <%= f.link_to_add "+", :waypoints %>
    <br>
    <%= f.submit %>
  <% end %>
</div>
<script type="text/javascript">
  function cleanData(funkyHash) {
    jQuery.each(funkyHash, function(routeId, routeHash) {
      jQuery.each(routeHash, function(subRouteId, subRouteHash) {
        subRouteHash["transitOptions"]["departureTime"] = new Date(Date.now());
        subRouteHash["travelMode"] = google.maps.TravelMode.DRIVING;
      });
    });
    return funkyHash;
  }

  $(document).ready(function(){
    $("input[type=submit]").on("click", function(e){
      e.preventDefault();
      var data = $(".new_trip").serialize();
      $.post("/trips", data, function(response, status){
        console.log(cleanData(response));
      });
    });
  });
</script>
