
<%= render 'map' %>
<button class="ajax">Get Best Route</button>

<script type="text/javascript">


  var cache = new Object();
  var globalResponse = null;
  var array = new Array()
  function buildHash() {
    var data = new Object();
    <% @data.each do |route_id, route_hash| %>
      var routeId = <%= route_id %>;
      data[routeId] = new Object();
      <% route_hash.each do |sub_route_id, address_arr| %>
        var subRouteId = <%= sub_route_id %>;
        var subRouteHash = new Object();
        subRouteHash["origin"] = "<%= address_arr.first %>";
        subRouteHash["destination"] = "<%= address_arr.last %>";
        subRouteHash["transitOptions"]= {"departureTime" : new Date(Date.now())};
        subRouteHash["travelMode"] = google.maps.TravelMode.DRIVING;

        data[routeId][subRouteId] = subRouteHash;
      <% end %>
    <% end %>

    jQuery.each(data, function(routeId, routeHash) {
      cache[routeId] = new Object();
      
      jQuery.each(routeHash, function(subRouteId, subRouteHash) {

        directionsService.route(subRouteHash, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            globalResponse = response;
            cache[routeId][subRouteId] = globalResponse;
          }
        });

      });
    });
  }

  var ajaxHash = new Object();
  var tripId = <%=@trip.id%>;
  function getAjaxHash() {
    ajaxHash[tripId] = new Object(); 
    jQuery.each(cache, function(routeId, routeHash) {
      ajaxHash[tripId][routeId] = new Object();
      jQuery.each(routeHash, function(subRouteId, subRouteHash) {
        ajaxHash[tripId][routeId][subRouteId] = cache[routeId][subRouteId]["routes"][0]["legs"][0]["duration"]["text"];
      });
    });
    return ajaxHash;
  }
  var data = getAjaxHash();
  var bestRouteId;
 function showRoutes(){
    var directionsDisplay = [];
    var i = 0;
    // $.ajax({
    //   type: 'POST',
    //   url: "/trips/ajax",
    //   data: data,
    //   beforeSend: function (){
    //     buildHash();
    //   },
    //   success: function () {
    //     console.log("hello");
    //      bestRouteId = response["id"];
    //     $.each(cache[bestRouteId], function(subRouteId, googleResponse){
    //       directionsDisplay[i] = new google.maps.DirectionsRenderer();
    //       directionsDisplay[i].setMap(map);
    //       directionsDisplay[i].setDirections(googleResponse);  
    //       i++;
    //     });
    //   },
    //   async: false
    // });
    $.post("/trips/ajax",
      getAjaxHash(),
      function(response, status){
        bestRouteId = response["id"];
        $.each(cache[bestRouteId], function(subRouteId, googleResponse){
          directionsDisplay[i] = new google.maps.DirectionsRenderer();
          directionsDisplay[i].setMap(map);
          directionsDisplay[i].setDirections(googleResponse);
          directionsDisplay[i].setPanel(document.getElementById('directions-panel')); 
          i++;
        });
      }
    );
  }
  buildHash();
  setTimeout(function(){
    showRoutes();
  }, 1000);

</script>



